/* 노멀라이징 */
body, ul, li{ 
    margin:0; 
    list-style:none; 
    padding:0; 
} 
a{ 
    text-decoration:none; 
    color:inherit; 
}

/* 커스터마이징 */
.main_section{
    text-align: center;
    margin-bottom: 50px;
}
.hover-underline:hover{
	text-decoration: underline;
}
iframe{
	border:0;
}
/* 게시판 리스트 */
:root {
  --list_body__cell_id__width: 35px;
  --list_body__cell_regDate__width: 90px;
  --list_body__cell_writer__width: 70px;
  --list_body__cell_file__width: 40px;
  --list_body__cell_title__width: calc(100% - var(--list_body__cell_id__width) - var(--list_body__cell_regDate__width) - var(--list_body__cell_writer__width) - var(--list_body__cell_file__width));
}
.article_list_body{
	display: inline-block;
    min-height: 300px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 14px;
}
.article_list_body__head{
	display: flex;
	width: 100%;
	border-bottom: 3px outset black;
}
.article_list_body__head > div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	background-color: gray;	
	color: white;
	font-weight: bold;
}
.article_list_body__body{
	display: block;
	width: 100%;
}
.article_list_body__cell{
	display: flex;
	width: 100%;
	border-bottom: 1px solid;
}
.article_list_body__cell > div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
}
.list_body__cell_id{
	width: var(--list_body__cell_id__width);	
}
.list_body__cell_regDate{
	border-left: 2px solid black;
	border-right: 2px solid black;
	width: var(--list_body__cell_regDate__width);	
}
.list_body__cell_title{
	width: var(--list_body__cell_title__width);	
}
.list_body__cell_writer{
	border-left: 2px solid black;
	border-right: 2px solid black;
	width: var(--list_body__cell_writer__width);	
}
.list_body__cell_file{
	width: var(--list_body__cell_file__width);	
}
.list_body__cell_title{
	width: var(--list_body__cell_title__width);	
}

.article_list_foot{
	display: inline-block;
	width: 70%;
	text-align: right;
	margin-top: 5px;
}


/* 게시물 상세페이지 */
.article_detail_body{
	display: inline-block;
    min-height: 600px;
    width: 90%;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 14px;
}
.article_detail_body__head{
	width: 100%;
	background-color: rgba(200, 200, 200, 1);
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}
.article_detail_body__body{
	display: block;
	width: 100%;
	height: 320px;
	text-align: left;
	overflow-y: scroll;
	border-top: 3px solid;
	border-bottom: 3px solid; 
	margin-bottom: 3px;
}
.detail_body__content{
	width: 96%;
	height: 92%;
	padding: 2%;
}
.article_detail_foot{
	display: inline-block;
	width: 90%;
	text-align: right;
	margin-top: 5px;
}


/* 게시물 작성페이지 */
.article_write_body{
	display: inline-block;
    height: 100%;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.article_write_foot{
	display: inline-block;
	width: 70%;
	text-align: right;
	margin-top: 5px;
}


/* 게시물 수정페이지 */
.article_modify_body{
	display: inline-block;
    height: 100%;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.article_modify_foot{
	display: inline-block;
	width: 70%;
	text-align: right;
}

/* 환경설정 페이지 */
.config_setting_body{
	display: inline-block;
    min-height: 600px;
    width: 90%;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 14px;
}
.config_setting_body__content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
}
.config_setting_body__content_cell{
	width: 200px;
	height: 100px;
	border: 2px solid;
	border-radius: 3px;
	padding-top: 30px;
}
.config_setting_body__content_cell > span{
	font-size: 16px;
	font-weight: bold;
}
.config_setting_body__btn{
	border-bottom: 3px solid; 
	padding-bottom: 30px;
}
.config_setting_foot{
	display: inline-block;
	width: 90%;
	text-align: right;
	margin-top: 5px;
}


/* 작성영역 */
.EDITOR_AREA{
	display: inline-block;
    height: 530px;
    width: 100%;
}

.editor_header{
	width: 100%; 
	height: 50px; 
	font-size: 18px;
}
.editor_header > div {
	width: 100%; 
	height: 100%; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}
.editor_header > div > div{
	display: inline-block; 
	margin-right: 10px;
}
.editor_header > div > input{
	width: 70%; 
	font-size: 15px;
}

/* 업로더 영역 */
.uploader_holder{
    display: inline-block;
    height: 205px;
    width: 100%;
}


/* 다운로더 영역*/
.downloader_holder{
	display: inline-block;
    height: 190px;
    width: 99%;

}
