/* 노멀라이징 */
body, ul, li{ 
    margin:0; 
    list-style:none; 
    padding:0; 
} 
a{ 
    text-decoration:none; 
    color:inherit; 
}

/* 커스터마이징 */
.main_section{
    text-align: center;
    margin-bottom: 50px;
}
/* 게시판 리스트 */
:root {
  --list_body__cell_id__width: 35px;
  --list_body__cell_regDate__width: 90px;
  --list_body__cell_writer__width: 70px;
  --list_body__cell_file__width: 40px;
  --list_body__cell_title__width: calc(100% - var(--list_body__cell_id__width) - var(--list_body__cell_regDate__width) - var(--list_body__cell_writer__width) - var(--list_body__cell_file__width));
}
.article_list_body{
	display: inline-block;
    height: 300px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 14px;
}
.article_list_body__head{
	display: flex;
	width: 100%;
	border-bottom: 2px solid;
}
.article_list_body__body{
	display: block;
	width: 100%;
}
.article_list_body__cell{
	display: flex;
	width: 100%;
	border-bottom: 1px solid;
}
.article_list_body__cell > .list_body__cell_title{
	text-align: left;
}


.list_body__cell_id{
	width: var(--list_body__cell_id__width);	
}
.list_body__cell_regDate{
	border-left: 2px solid;
	border-right: 2px solid;
	width: var(--list_body__cell_regDate__width);	
}
.list_body__cell_writer{
	border-left: 2px solid;
	border-right: 2px solid;
	width: var(--list_body__cell_writer__width);	
}
.list_body__cell_file{
	width: var(--list_body__cell_file__width);	
}
.list_body__cell_title{
	width: var(--list_body__cell_title__width);	
}

.article_list_foot{
	display: inline-block;
	width: 70%;
	text-align: right;
}

/* 업로더 */
.uploader_body{
    display: inline-block;
    height: 300px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.top_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 15px;
}
.upload_area{
    height: 206px;
    width: 100%;
    text-align: left;  
    border-top: solid rgb(167, 167, 167) 2px;
    border-bottom: solid rgb(167, 167, 167) 2px;
}
.uploadZone{
	height: 100%;
	border: 2px solid;
	z-index: 500;
	padding-left: 7px;
    padding-right: 7px;
}
.uploadZone > span{
	text-align: center;
	padding-top: 50px;
}
.uploadZone > li{
	display: flex;
	justify-content: space-between;
}
.uploadZone > li > span{
	font-weight: bold; 
}

.info_area{
    height: 24px;
    border-bottom: solid rgb(167, 167, 167) 1px;
    padding-top: 5px;
}
.info_area > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}
.btn_area{
    height: 30px;
    text-align: left;
}


.uploaded_body{
    display: inline-block;
    height: 100px;
    padding-top: 5px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.uploadedZone{
	height: 100%;
	z-index: 500;
	padding-left: 7px;
    padding-right: 7px;
}
.uploadedZone > span{
	text-align: center;
	padding-top: 50px;
}
.uploadedZone > li{
	display: flex;
	justify-content: space-between;
}
.uploadedZone > li > span{
	font-weight: bold; 
}

/* 다운로더 */
.downloader_body{
    display: inline-block;
    height: 300px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.download_area{
    height: 206px;
    width: 100%;
    text-align: left;  
    border-top: solid rgb(167, 167, 167) 2px;
    border-bottom: solid rgb(167, 167, 167) 2px;
}
.downloadZone{
	height: 100%;
	border: 2px solid;
	z-index: 500;
	padding-left: 7px;
    padding-right: 7px;
}
.downloadZone > span{
	text-align: center;
	padding-top: 50px;
}
.downloadZone > li{
	display: flex;
	justify-content: space-between;
}
.downloadZone > li > span{
	font-weight: bold; 
}
