/* 노멀라이징 */
body, ul, li{ 
    margin:0; 
    list-style:none; 
    padding:0; 
}
a{ 
    text-decoration:none; 
    color:inherit; 
}

/* 커스터마이징 */
.main_section{
    text-align: center;
    margin-bottom: 50px;
}
.hover-underline:hover{
	text-decoration: underline;
}
form{
    display: inline-block;
}
label, button, select{
    margin-top: 1.5px;
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 2px;
    margin: 0;
    text-decoration: none;
    background: #8d8d8f;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 0 rgb(0,0,0,0.5);
}
label:hover, button:hover, select:hover{
    text-decoration: underline;
    background-color: black;
}
label:active, button:active, select:active{
    box-shadow: 0px 0px 0 rgb(0,0,0,0.5);
}
label, button{
    padding: 6px;
}


/* 에디터 */
.editor_holder{
	height: 100%;
	width: 100%;
	text-align: center;
}

.editor_body{
    display: inline-block;
    height: 100%;
    width: 95%;
    border: solid black 1px;
    border-radius: 2px;
}
.toolbar{
    height: 50px;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.5);     
    overflow-x: auto;
    white-space: nowrap;
}
.toolbar > table{
    width: auto;
}
.text_area{
    height: 420px;
    text-align: center;  
    border-top: solid rgb(167, 167, 167) 1px;
    border-bottom: solid rgb(167, 167, 167) 1px;
}
.text_area > iframe{
    height: 100%;
    width: 100%;
}
.btn_area_bottom{
    height: 30px;
    background-color: rgba(200, 200, 200, 0.5);     
    text-align: left;
    padding-top: 4px;
    padding-left: 4px;
}

@media (min-width: 900px) {
	.toolbar{
	    height: 35px;
	    overflow-x: hidden;
	}
	.text_area{
	    height: 435px;
	}
}